*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.body{
	background: url(../img/bg_repeat.jpg) ;
}

.block1{
	border: 5px solid rgb(17, 132, 158);
	max-width: 800px;
	height: 1000px;
	margin: 100px auto;
	text-align: center;
    font-size: 50px;
	box-shadow: 0px 0px 10px black;
	color: white;
	
	background-color: rgb(17, 132, 158);
	

}

.block2{
	font-size: 40px;
	text-align: left;
	padding: 10px 0px 0px 20px;
	color: white;
}
.video{
	position: absolute;
  	top: 860px;
  	left: 600px;

	border: 3px solid rgba(17, 132, 158);
	box-shadow: 0px 0px 10px black;
}



















